<% @books.each do |book| %>
<div class="panel panel-success">
  <div class="panel-heading">
    <h1 class="panel-title heading"><%= link_to book.name, book, class: "book-name" %></h1>
  </div>
  <div class="panel-body">
    <div class = "image-field">
      <%= image_tag book.image_url(:preview), alt: "" %>
    </div>
    <div class="jenre-author">
      <% book.genres.each do |book_genre| %>
        <span class="badge attributes"><%= book_genre.name %></span>
      <% end %>
     <br><br>
      <strong><%= book.author %></strong><br>
    </div>
    <br>
    <div class = "description-all" >
      <%= book.description %>
    </div>
  </div>
  <div class = "panel-footer">
    <div>
      <%= link_to 'Show', book, class: "button-show btn btn-success" %>
    </div> 
  </div>
</div>
<% end %>
<div class = "button-center" >
<% if current_page?(user_books_path) || current_page?(drafts_path)%>
	<%= link_to 'Create New Book', new_book_path, class: "btn btn-warning" %>
<% end %>
</div>
<br>